@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-primary: #3b82f6;
    --color-secondary: #10b981;
    --color-dark: #0f172a;
    --color-light: #f8fafc;

    --font-sans: 'Inter', system-ui, sans-serif;
}

body {
    @apply bg-[#0d0d0d] text-slate-100 antialiased font-sans;
}