---
import SEOHead from "../components/seo/SEOHead.astro";
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
import "../styles/global.css";

interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark scroll-smooth">
	<head>
		<SEOHead title={title} description={description} />
	</head>
	<body class="flex flex-col min-h-screen bg-[#0d0d0d] text-slate-100">
		<Header />
		<main
			class="flex items-center justify-center container mx-auto min-h-[calc(100vh-4rem)] py-20"
		>
			<slot />
		</main>
		<Footer />
	</body>
</html>
